@model IEnumerable<SalesWebMvc.Models.Department>

@{
    ViewData["Title"] = "Departments";
}

<h2>@ViewData["Title"]</h2>

<p style="text-align: right;">
    <a id="btn_success" class="btn" asp-action="Create">+</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th style="width: 20%;">
                #
            </th>
            <th style="width: 30%;">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th style="width: 50%;">
                Ações
            </th>
        </tr>
    </thead>
    @{
        int count = 1;
    }
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @count
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a id="btn_info" class="btn" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a id="btn_info" class="btn" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a id="btn_danger" class="btn" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
            count++;
        }
    </tbody>
</table>